<div class="left-sidebar">
	<div>
		<h4 class="title-font">CATEGORY</h4>
		<hr class="small">
	</div>
	<ui-tree-aside [name]="nameCategory" [data]="categories"></ui-tree-aside>
	</div>
	<div class="panel-group category-products" id="accordian"><!--category-productsr-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel">
					<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
						DienThoai
						<i class="now-ui-icons ui-1_simple-add"></i>
					</a>
				</h4>
			</div>
			<div id="sportswear" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="">Nike(123) </a></li>
						<li><a href="">Under Armour(242) </a></li>
						<li><a href="">Adidas </a></li>
						<li><a href="">Puma</a></li>
						<li><a href="">ASICS </a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel">
					<a data-toggle="collapse" data-parent="#accordian" href="#mens">
						Mens
						<i class="now-ui-icons ui-1_simple-add"></i>
					</a>
				</h4>
			</div>
			<div id="mens" class="panel-collapse collapse in">
				<div class="panel-body">
					<ul>
						<li><a href="">Fendi</a></li>
						<li><a href="">Guess</a></li>
						<li><a href="">Valentino</a></li>
						<li><a href="">Dior</a></li>
						<li><a href="">Versace</a></li>
						<li><a href="">Armani</a></li>
						<li><a href="">Prada</a></li>
						<li><a href="">Dolce and Gabbana</a></li>
						<li><a href="">Chanel</a></li>
						<li><a href="">Gucci</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel">
					<a data-toggle="collapse" data-parent="#accordian" href="#mens">
						WoMens
						<i class="now-ui-icons ui-1_simple-add"></i>
					</a>
				</h4>
			</div>
			<div id="womens" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="">Fendi</a></li>
						<li><a href="">Guess</a></li>
						<li><a href="">Valentino</a></li>
						<li><a href="">Dior</a></li>
						<li><a href="">Versace</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel"><a href="#">Kids</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel"><a href="#">Fashion</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel"><a href="#">Households</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel"><a href="#">Interiors</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel"><a href="#">Clothing</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel"><a href="#">Bags</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="title-panel"><a href="#">Shoes</a></h4>
			</div>
		</div>
	</div><!--/category-productsr-->

	<div class="brands_products"><!--brands_products-->
		<h4 class="title-font">BRANDS</h4>
		<hr class="small">
		<div class="brands-name">
			<ul class="navbar-nav ">
				<li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
				<li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
				<li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
				<li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
				<li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
				<li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
				<li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
			</ul>
		</div>
	</div><!--/brands_products-->
	
	<div class="price-range"><!--price-range-->
		<h4 class="title-font">PRICE</h4>
		<hr class="small">
		<div id="sliderDouble" class="slider slider-info"></div>
</div>
	
