
<div class="container-side">
	<section>
			<div class="row">
				<div class="col-sm-3">
					<category-tree [name]="name"></category-tree>
				</div>	
				<div class="col-sm-9 padding-right category-in-products">
					<div class="category-container">
						<ul class="category-list">
							<a [routerLink]="['/detail',14]">
								<li class="category-item">
									<span class="sale-box">
										<span class="label-sale">SALE</span>
									</span>
									<div class="category-item-picture">
										<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/x1_5e9bacc6-dd3c-40f6-9380-4068379e8934_large_2x.jpg?v=1455720930" >
									</div>
									<div class="category-item-info">
										<p>Aenean consequat sagittis commodo habitasse lacus</p>
										<div class="product-price">
											<span class="old-price">$40.00</span>
											<span class="new-price">$30.00</span>
										</div>
									</div>
									<div class="add-to-cart-btn">
										<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
										<div class="rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="wish-list">
											<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
										</div>
									</div>
								</li>	
							</a>
							<li class="category-item">
								<span class="sale-box">
									<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/x1_5e9bacc6-dd3c-40f6-9380-4068379e8934_large_2x.jpg?v=1455720930" >
								</div>
								<div class="category-item-info">
									<p>Aenean consequat sagittis commodo habitasse lacus</p>
									<div class="product-price">
										<span class="old-price">$40.00</span>
										<span class="new-price">$30.00</span>
									</div>
								</div>
							</li>	
							<li class="category-item">
								<span class="sale-box">
									<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/x1_5e9bacc6-dd3c-40f6-9380-4068379e8934_large_2x.jpg?v=1455720930" >
								</div>
								<div class="category-item-info">
									<p>Aenean consequat sagittis commodo habitasse lacus</p>
									<div class="product-price">
										<span class="old-price">$40.00</span>
										<span class="new-price">$30.00</span>
									</div>
								</div>
							</li>	
							<li class="category-item">
								<span class="sale-box">
									<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/x1_5e9bacc6-dd3c-40f6-9380-4068379e8934_large_2x.jpg?v=1455720930" >
								</div>
								<div class="category-item-info">
									<p>Aenean consequat sagittis commodo habitasse lacus</p>
									<div class="product-price">
										<span class="old-price">$40.00</span>
										<span class="new-price">$30.00</span>
									</div>
								</div>
							</li>	
							<li class="category-item">
								<span class="sale-box">
									<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/x1_5e9bacc6-dd3c-40f6-9380-4068379e8934_large_2x.jpg?v=1455720930" >
								</div>
								<div class="category-item-info">
									<p>Aenean consequat sagittis commodo habitasse lacus</p>
									<div class="product-price">
										<span class="old-price">$40.00</span>
										<span class="new-price">$30.00</span>
									</div>
								</div>
							</li>	
							<li class="category-item">
								<span class="sale-box">
									<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/x1_5e9bacc6-dd3c-40f6-9380-4068379e8934_large_2x.jpg?v=1455720930" >
								</div>
								<div class="category-item-info">
									<p>Aenean consequat sagittis commodo habitasse lacus</p>
									<div class="product-price">
										<span class="old-price">$40.00</span>
										<span class="new-price">$30.00</span>
									</div>
								</div>
							</li>	
						</ul>
					</div>
				</div>
			</div>
	</section>
</div>
