<div class="container-side">
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-11">
			<div class="product-details">
				<!--product-details-->
				<div class="col-sm-7" style="float: left">
					<div class="view-product text-center">
						<div class="aside-image">
							<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/4_1024x1024.jpg?v=1455721210" alt="">
							<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/4_1024x1024.jpg?v=1455721210" alt="">
							<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/4_1024x1024.jpg?v=1455721210" alt="">
							<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/4_1024x1024.jpg?v=1455721210" alt="">
						</div>
						<div class="main-image">
							<img src="https://cdn.shopify.com/s/files/1/1137/0048/products/4_1024x1024.jpg?v=1455721210" alt="">
						</div>
					</div>
				</div>
				<div class="col-sm-5" style="float: left">
					<div class="product-information" *ngIf="product" [property]="property">
						<div>
							<!--/product-information-->
							<h3>{{product.name}}</h3>
							<p><i>{{category}}</i></p>
							<hr class="small">
						</div>
						<div class="basic-info">
							<div class="basic-info-1">
								<h5>US ${{product.properties[0].price}}</h5>
								<p>Availability: <b>In Stock</b></p>
								<p>Condition: <b>New</b></p>
								<p>Brand: <b>Iphone</b></p>
							</div>
							<div class="basic-info-2 text-center">
								<label>Quantity:</label>
								<div class="input-group form-group-no-border ">
									<a class="input-group-addon">
								        <i class="now-ui-icons ui-1_simple-delete"></i>
								      </a>
									<input type="text" class="form-control" value=1>
									<a class="input-group-addon">
								        <i class="now-ui-icons ui-1_simple-add"></i>
								      </a>
								</div>
							</div>
						</div>
						<div class="action text-center">
							<button type="button" class="btn btn-fefault btn-primary cart">
									<i class="fa fa-shopping-cart"> </i>
									Add to cart
								</button>
						</div>
						<hr class="small">
					</div>
					<div class="property-product">
						<p>● Property:</p>
						<div class="property-color">
							<div class="filled-circle" style="background-color: white"></div>
							<div class="filled-circle" style="background-color: black"></div>
							<div class="filled-circle" style="background-color: dodgerBlue "></div>
							<div class="filled-circle" style="background-color: gold  "></div>
						</div>
						<div class="property-combobox">
							<div class="dropdown">
								<a href="#pablo" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
								    	Storage
								    </a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
									<li class="dropdown-item">32GB</li>
									<li class="dropdown-item">64GB</li>
									<li class="dropdown-item">128GB</li>
								</ul>
							</div>
						</div>
					</div>

					<!--/product-information-->
				</div>
			</div>
			<!--/product-details-->
		</div>
	</div>
</div>
