.user-menu {
  a {
    color: black;
  }
}
.brand-name {
  width: 10%;
  float: left;
  vertical-align: middle !important;
  padding-top: 15px;
}
a {
  cursor: pointer;
}
.navbar-collapse {
  width: 20% ;
  float: left;
}

.second-nav {
  .nav-link {
    color: black !important;
  }
}

.second-nav-right {
  float: right;
  width: 20%;
  .search-content {
    position: relative;
    .clear-search-box {
      position: absolute;
      right: 25px;
      font-size: 20px;
      top: 5px;
    }
    .search-name {
      position: absolute;
      max-height: 400px;
      overflow: scroll;
      overflow-x: hidden;
      top: 50px;
      right: 0;
      background-color: white;
      list-style: none;
      padding-left: 0;
      box-shadow: 1px 0px 5px 0px #888888;
      border-radius: 10px;
      .search-item:hover {
        background-color: rgba(222, 222, 222, 0.3);
      }
      .search-item {
        border-bottom: 1px solid rgba(222, 222, 222, 0.3);
        padding: 10px 0;
        width: 400px;
        .infor-search {
          * {
            vertical-align: middle;
          }
          .success-active:active {
          }
          .image-search {
            float: left;
            margin-right: 30px;
            width: 65px;
            height: 60px;
            padding-left: 10px;
            width: 17%;
          }
          .name-price-search {
            width: 75%;
            float: left;
            .search-name-product {
              color: black;
              display: block;
            }
            .search-price-product {
              margin-top: 10px;
              color: red;
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

.full-width {
  width: 100%;
}

#dropdown-user-login {
  display: none;
}

.main-content {
  margin-top: 110px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.category-item {
  float: left;
  padding-left: 50px;
  margin-top: 25px;
  list-style-type: none;
  margin-bottom: 50px;

  .sub-category {
    font-family: Poppins-Bold;
    letter-spacing: -1px;
    font-weight: 100;
    text-transform: uppercase !important;
    color: black !important;
  }
}

.collection-item {
  float: left;
  padding-left: 60px;
  margin-top: 25px;
  list-style-type: none;

  .sub-category {
    font-family: Arial;
    text-transform: capitalize !important;
    color: black !important;
    font-size: 14px;
  }
}

.dropdown-category {
  min-width: 800px;
  font-family: Poppins-Bold;
  letter-spacing: -1px;
  font-weight: 100;
}

.my-cart {
  position: relative;
  .number-item {
    position: absolute;
    left: -17px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    font-size: 11px;
    color: white;
    vertical-align: middle;
  }
}

.clr::After {
  content: '';
  clear: both;
  display: block;
}