<app-login></app-login>
<nav id="navbar" class="navbar navbar-inverse navbar-toggleable-md fixed-top bg-white">
  <div class="navbar-translate">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
    </button>
  </div>
  <div class="full-width">
    <a href="#pablo">
      <img src="assets/img/logofanatic.png" class="brand-name">
    </a>
    <ol class="navbar-nav collapse navbar-collapse">
      <li class="nav-item">
        <a class="nav-link">
          Market
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./shop']">
          Shop Owner
        </a>
      </li>
    </ol>
    <div class="third-navbar">
      <ul class="navbar-nav justify-content-end collapse">
        <li class="nav-item nav-item-right dropdown" [appNavUser]="name">
          <a class="nav-link" href="#pablo" data-toggle="dropdown" id="navbarDropdownMenuLink1">
            <i class="now-ui-icons users_single-02"></i>
            <span class="now-ui-icons arrows-1_minimal-down"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" id="dropdown-user">
            <span class="dropdown-item">Login as...</span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="loginForm()"><i class="now-ui-icons ui-1_email-85 nav-icon"></i>Email</a>
            <a class="dropdown-item" (click)="loginFacebook()"><i class="fa fa-facebook nav-icon"></i>Facebook</a>
            <a class="dropdown-item" (click)="gotoGoogle()"><i class="fa fa-google nav-icon"></i>Google</a>
          </ul>
          <ul class="dropdown-menu user-menu" aria-labelledby="navbarDropdownMenuLink1" id="dropdown-user-login" style="top: 30px">
            <span class="dropdown-item">{{uid}}</span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['../customer/account']" [queryParams]="{id: id}"><i class="now-ui-icons design_bullet-list-67"></i> Information</a>
            <a class="dropdown-item" [routerLink]="['/customer/account/history']"><i class="now-ui-icons shopping_bag-16"></i> My History</a>
            <a class="dropdown-item" (click)="logout()"><i class="now-ui-icons loader_gear"></i> Log Out</a>
          </ul>
        </li>
        <li class="nav-item nav-item-right ">
          <a class="nav-link" [routerLink]="['/order']">
            <i class="now-ui-icons shopping_cart-simple my-cart">
              <span class="number-item">{{numberItem()}}</span>
            </i>
            <p>MY CART</p>
          </a>
        </li>
      </ul>
    </div>
    <hr class="small">
    <div>
      <ul class="second-nav navbar-nav collapse navbar-collapse">
        <li class="nav-item active dropdown" *ngFor="let mainCategory of categories | keys">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownCategory">{{mainCategory}}</a>
          <ul class="dropdown-menu dropdown-category" aria-labelledby="dropdownCategory">
            <ul class="collection-item">
              COLLECTION
              <hr class="small">
              <li class="sub-category">New Release</li>
              <li class="sub-category">Launch Calendar</li>
              <li class="sub-category">Best Seller</li>
              <li class="sub-category">Basic</li>
              <li class="sub-category">Sell</li>
              <li class="sub-category">City Hunter</li>
            </ul>
            <li class="category-item" *ngFor="let subCategory of categories[mainCategory] | keys">
              <a class="sub-category"><span >{{subCategory}}</span></a>
              <hr class="small">
              <div id="ui-tree">
                <app-ui-tree [data]="categories[mainCategory][subCategory]" [key]="key"></app-ui-tree>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="second-nav-right">
        <div class="col-md-12">
          <div class="input-group form-group-no-border search-content">
            <input #searchSomething type="text" class="form-control search-input" id="searchInput" placeholder="Search something" [ngModel]="search" (ngModelChange)="somethingSearch($event)" (focus)="enableSearch()" (keydown)="showListSearch($event)">
            <ul class="search-name" (click)="disableSearch()">
              <li class="search-item" *ngIf="searchName==null">
                <p> No Item Found </p>
              </li>
              <li *ngFor="let nameSearch of searchName" class="search-item">
                <div class="infor-search clr">
                  <a class="success-active" [routerLink]="['/', nameSearch.category.title, nameSearch.id]">
                    <img class="image-search" src="{{nameSearch.properties[0].images[0].image}}">
                    <span class="name-price-search">
                      <span class="search-name-product">{{nameSearch.name}}</span>
                      <p class="search-price-product">${{nameSearch.properties[0].price}}</p>
                    </span>
                  </a>
                </div>
              </li>
            </ul>
            <span class="input-group-addon">
              <i class="now-ui-icons ui-1_zoom-bold"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<notification></notification>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<!--  Signup login!-->
<app-footer></app-footer>
