<div class="review-box" >
	<h4>REVIEW</h4>
	<div class="rating">
	</div>
	<div>
    <div class="form-group has-success">
        <input type="text" placeholder="add your Title" class="form-control form-control-success">
        <textarea class="form-control text-content" placeholder="Here can be your nice text" rows="5"></textarea>
    </div>
		<div class="review-comment">
			<ul >
				<li>
					<div class="avatar">
						<img src="https://hiflyer.vn/templates/hiflyer/images/avatar/avatar2.png" class="comment-avatar">
					</div>
					<div class="comment-info">
						<h5>name</h5>
						<div>
							<span>rating</span>
							<span><i> by nameidblabla</i> </span>
							<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="avatar">
						<img src="https://hiflyer.vn/templates/hiflyer/images/avatar/avatar2.png" class="comment-avatar">
					</div>
					<div class="comment-info">
						<h5>name</h5>
						<div>
							<span>rating</span>
							<span><i> by nameidblabla</i> </span>
							<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>