.property-color {
  overflow: hidden;
  padding-bottom: 30px;
}

.property-combobox {
  .property-list{
    list-style-type: none;
    width: 100%;
    overflow:hidden;
    .item {
      background: grey;
      float: left;
      color: white;
      padding: 10px 20px;
      margin-right: 20px;
      border-radius: 10px;
    }
   .item:hover {
        background: #F08080;
      }
      .item.active {
         background: #F08080;
      }
    }
    
  }

