<div class="col-sm-12 padding-right infor-user">
  <h5>Your History Order</h5>
  <p *ngIf="history != null">
    You don't have history, please order first!
  </p>
  <ul *ngIf="history" class="orders-list">
    <li *ngFor="let obj of history">
      <p>
        ID order: {{obj.id}}
      </p>
      <div class="order">
        <p>
          Status: {{obj.status}}
        </p>
        <p>
          Date order: {{obj.created_at}}
        </p>
        <p class="detail-order">
          <a>Detail order:</a>
        </p>
        <table class="table-orders">
          <tr>
            <th class="product">{{obj.order_items.length}} PRODUCTS</th>
            <th class="price">PRICE</th>
            <th class="quantity">QUANTITY</th>
            <th class="number">TOTAL</th>
          </tr>
          <tr class="item" *ngFor="let order_items of obj.order_items">
            <td class="item-order">
              <div class="img">
                <img class="" src='../../assets/img/avatar.jpg' alt="">
              </div>
              <div class="title">
                <p>
                  {{order_items.product.name}}
                </p>
              </div>
            </td>
            <td>
              <h5>${{order_items.product.property.price}}</h5>
            </td>
            <td class="center">
              {{order_items.quantity}}
            </td>
            <td class="center">
              {{order_items.total}}
            </td>
          </tr>
          <tr class="total">
            <td colspan=4>
              <span class="total-label">TOTAL:</span> <span class="total-price">$100</span>
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>
