.pull-right {
  margin: 0 50px !important;
}

.count-product {
  width: 15px;
  display: inline-block;
  text-align: center;
}

ul {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: -1px;
}