<div class="shop-cover-picture">
	<img src="../assets/img/bg11.jpg" class="cover-picture">
	<div class="shop-main-info">
		<h4>name shop</h4>
		<hr class="small">
		<p>description of shop</p>
	</div>
</div>
<div class="container-side">
	<div class="row">
	 <nav class="col-sm-3" >
	 	<div class="shop-navigation" >
	 		<h4>SHOP</h4>
	 		<ul>
	 			<li class="actived"><a href="http://localhost:4200/shop/1#product">Products</a></li>
	 			<li><a href="http://localhost:4200/shop/1#review">Review</a></li>
	 			<li><a href="http://localhost:4200/shop/1#location">Location</a></li>
	 			<li><a href="http://localhost:4200/shop/1#information">Infomation</a></li>
	 		</ul>
	 	</div>
	</nav>
	<span class="anchor" id="product"></span>
	<div class="col-sm-9 padding-right category-in-products">
		<h4>PRODUCTS</h4>
				<div class="category-container">
					<ul class="category-list">
						<a>
							<li class="category-item">
								<span class="sale-box">
										<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="http://cdn.shopify.com/s/files/1/1137/0048/t/2/assets/slideshow_image_1.jpg?1928721178739775374" class="image-size" >
								</div>
								<div class="category-item-info">
									<p>12345</p>
									<div class="product-price">
										<!-- <span class="old-price">$40.00</span> -->
										<span class="new-price">$30</span>
									</div>
								</div>
								<div class="add-to-cart-btn">
									<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="wish-list">
										<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
									</div>
								</div>
							</li>
						</a>
						<a>
							<li class="category-item">
								<span class="sale-box">
										<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="http://cdn.shopify.com/s/files/1/1137/0048/t/2/assets/slideshow_image_1.jpg?1928721178739775374" class="image-size" >
								</div>
								<div class="category-item-info">
									<p>12345</p>
									<div class="product-price">
										<!-- <span class="old-price">$40.00</span> -->
										<span class="new-price">$30</span>
									</div>
								</div>
								<div class="add-to-cart-btn">
									<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="wish-list">
										<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
									</div>
								</div>
							</li>
						</a>
						<a>
							<li class="category-item">
								<span class="sale-box">
										<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="http://cdn.shopify.com/s/files/1/1137/0048/t/2/assets/slideshow_image_1.jpg?1928721178739775374" class="image-size" >
								</div>
								<div class="category-item-info">
									<p>12345</p>
									<div class="product-price">
										<!-- <span class="old-price">$40.00</span> -->
										<span class="new-price">$30</span>
									</div>
								</div>
								<div class="add-to-cart-btn">
									<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="wish-list">
										<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
									</div>
								</div>
							</li>
						</a>
						<a>
							<li class="category-item">
								<span class="sale-box">
										<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="http://cdn.shopify.com/s/files/1/1137/0048/t/2/assets/slideshow_image_1.jpg?1928721178739775374" class="image-size" >
								</div>
								<div class="category-item-info">
									<p>12345</p>
									<div class="product-price">
										<!-- <span class="old-price">$40.00</span> -->
										<span class="new-price">$30</span>
									</div>
								</div>
								<div class="add-to-cart-btn">
									<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="wish-list">
										<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
									</div>
								</div>
							</li>
						</a>
						<a>
							<li class="category-item">
								<span class="sale-box">
										<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="http://cdn.shopify.com/s/files/1/1137/0048/t/2/assets/slideshow_image_1.jpg?1928721178739775374" class="image-size" >
								</div>
								<div class="category-item-info">
									<p>12345</p>
									<div class="product-price">
										<!-- <span class="old-price">$40.00</span> -->
										<span class="new-price">$30</span>
									</div>
								</div>
								<div class="add-to-cart-btn">
									<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="wish-list">
										<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
									</div>
								</div>
							</li>
						</a>
					</ul>
				</div>
				<hr class="small">
				<span class="anchor" id="review"></span>
				<review></review>
				<hr class="small">
				<span class="anchor" id="location"></span>
				<div  class="location">
					<h4>MAP</h4>
					<iframe class="google-map" frameborder="0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyB2pWEO7SWqwRCMbE9sMJcSzN8jSLH_YjY&q=43 tống phước phổ đà nẵng việt nam" allowfullscreen>
				</iframe>
				</div>
				<hr class="small">
				<span class="anchor" id="information"></span>
				<div  class="full-info">
					<div class="meta">
						<h4>INFOMATION</h4>
						<h6>Name of shop</h6>
						<p><span>Address:</span> abcsssss</p>
						<p><span>Telephone:</span> 123123123</p>
					</div>
					<div class="logo">
						<img src="../assets/img/logofanatic.png">
					</div>
					<p><span>Description:</span> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
						</p>
				</div>
			</div>
		</div>
</div>
