<div class="shop-cover-picture">
	<img src="../assets/img/bg11.jpg" class="cover-picture">
	<div class="shop-main-info">
		<h4>name shop</h4>
		<hr class="small">
		<p>description of shop</p>
	</div>
</div>
<div class="container-side">
	<div class="row">
	 <div class="col-sm-3">
	 	<div class="shop-navigation">
	 		<h4>SHOP</h4>
	 		<ul>
	 			<li class="actived"><a href="">Products</a></li>
	 			<li><a href="">Review</a></li>
	 			<li><a href="">Location</a></li>
	 			<li><a href="">Infomation</a></li>
	 		</ul>
	 	</div>
	</div>
	<div class="col-sm-9 padding-right category-in-products">
				<div class="category-container">
					<ul class="category-list">
						<a>
							<li class="category-item">
								<span class="sale-box">
										<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="http://cdn.shopify.com/s/files/1/1137/0048/t/2/assets/slideshow_image_1.jpg?1928721178739775374" class="image-size" >
								</div>
								<div class="category-item-info">
									<p>12345</p>
									<div class="product-price">
										<!-- <span class="old-price">$40.00</span> -->
										<span class="new-price">$30</span>
									</div>
								</div>
								<div class="add-to-cart-btn">
									<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="wish-list">
										<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
									</div>
								</div>
							</li>
						</a>
						<a>
							<li class="category-item">
								<span class="sale-box">
										<span class="label-sale">SALE</span>
								</span>
								<div class="category-item-picture">
									<img src="http://cdn.shopify.com/s/files/1/1137/0048/t/2/assets/slideshow_image_1.jpg?1928721178739775374" class="image-size" >
								</div>
								<div class="category-item-info">
									<p>12345</p>
									<div class="product-price">
										<!-- <span class="old-price">$40.00</span> -->
										<span class="new-price">$30</span>
									</div>
								</div>
								<div class="add-to-cart-btn">
									<a class="add-to-cart">
											<i class="now-ui-icons shopping_cart-simple"></i>
											ADD TO CART
										</a>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="wish-list">
										<button class="btn"><i class="fa fa-heart"> Wish list</i></button>
									</div>
								</div>
							</li>
						</a>
					</ul>
				</div>
					<review class="review-box"></review>
			</div>
		</div>
</div>
