/* You can add global styles to this file, and also import other style files */
.title-font {
	font-family: TradeGothicLTStd;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
	transform: scale(.6, 1);
}

.navbar {
	padding: 0 !important;
}
.title-panel {
	a {
	color: black !important;
	font-size: 15px;
	}
}
.panel-body, .brands-name{
	ul li a{
		color: black !important;
	}
}
.panel-heading {
	h4 {
		margin-top: 0;
	}
} 
.second-nav {
	.nav-link {
		color: black !important;
	}
}


#ui-tree ul li {
	list-style: none;
	font-family: Arial;
		div a {
			font-size: 13px;
			line-height: 30px;
			text-transform: uppercase ;
			color: grey;
		}

	  .list-li {
	  	a{
	  	font-size: 13px;
	  	text-transform: capitalize;
	  	color: black;
	  	padding-left: 10px;
	  	}
	  }
	}

.container-side {
	max-width: 1240px;
	margin: 0 40px;
}

.aside-category {

}

.category-container {
	overflow: hidden;
	margin-bottom: 30px;
}
.category-in-products {
	.category-container {
		width: 100%;
		padding: 0;
		.category-item {
			width: calc(100%/4);
			margin-bottom: 30px;
			position: relative;
			height: 350px;
			.category-item-picture {
				height: 250px;
				overflow: hidden;
				.image-size {
					object-fit: cover;
					height: 100%;
  				width: 100%;
				}
			}
			.category-item-info {
				.product-price {
					.new-price {
					font-size: 17px;
					}
				}
				p {
					text-transform: lowercase;
					opacity: 1;
					letter-spacing: -1px;
					font-size: 18px;
					color: black;
					-webkit-transition: 0.3s; /* Safari */
	    		transition: 0.3s;
	    		margin-bottom: 0;
    		}
			}
			.add-to-cart-btn{
				color: black;
				max-width: 100%;
				position: absolute;
				bottom: -100px;
				left: 0;
				right: 0;
				margin: 0 auto;
				-webkit-transition: 0.5s; /* Safari */
    		transition: 0.5s;
    		opacity: 0;	
				a{
					font-size: 1.2vw;
					
					padding: 5% 10%;
					background-color: white;
				}
				.rating{
						color: orange;
						margin-top: 20px;

				}
			}
		}
		.category-item:hover {
			box-shadow: -1px -1px 5px grey;
			.category-item-info {
				.product-price {
					opacity: 0;
				}
				p {
					opacity: 0;
				  -webkit-transition: 0.5s; /* Safari */
    			transition: 0.5s;
    		}
			}
			.add-to-cart-btn {
				opacity: 1;
				-webkit-transition: 0.3s; /* Safari */
    		transition: 0.3s;
				bottom: 30px;
				.btn {
					background-color: white;
					color:black;
				}
				.btn:hover {
				background-color: black;
				color: white;
				}
			}
			.add-to-cart:hover {
				background-color: black;
				-webkit-transition: 0.3s; /* Safari */
    		transition: 0.3s;
				color: white;
			}
		}
	}
}


.margin-right {
		float: right;
	}